.App {
  text-align: center;
}

.App {
  background: linear-gradient(45deg, black, grey);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation: cambiar 20s ease-in-out infinite;
  background-size: 400% 400%;
}

@keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}
